<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ccdac2e-663b-42cb-9d44-3556a33c6aed" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2024-10-23T12:34:20</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="006f709f-3dd9-42d3-9358-f5a305df5f51">dumt</Template>
  </Info>
  <Properties>
    <in>
      <Value><![CDATA[{{test.test1}}]]></Value>
    </in>
    <list>
      <Value><![CDATA[]]></Value>
    </list>
    <rte>
      <Value><![CDATA[<p><span class="token-replacement-iframe-match " style="position: relative;">{{test.test1}}</p>]]></Value>
    </rte>
    <ta>
      <Value><![CDATA[{{test.test1}}]]></Value>
    </ta>
  </Properties>
</Content>